*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #fafafa;
}

.nav-item {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0.8em;
  font-size: 0.8em;
  font-weight: bold;
  color: #9698a6;
  text-decoration: none;
}

.nav-item:hover::after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1.2em;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0em 9em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4em;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.hamburger {
  display: none;
}

.action-wrapper {
  display: none;
}

.request-btn {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  padding: 0.7em 1.5em;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 2em;
}

.request-btn p {
  color: white;
  font-weight: 700;
  font-size: 0.8em;
}

.request-btn:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.main-wrapper {
  position: relative;
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: 25em -15em;
  background-size: 71em 56em;
  background-repeat: no-repeat, no-repeat;
  height: 45em;
  overflow: hidden;
  margin-left: 9em;
  padding-top: 9.5em;
  padding-bottom: 2em;
}

.main-wrapper .heading {
  width: 25em;
}

.main-wrapper .heading h1 {
  color: #2d314d;
  font-size: 3em;
  font-weight: 400;
}

.main-wrapper .heading p {
  color: #9698a6;
  margin-top: 1.5em;
  line-height: 1.5em;
}

.main-wrapper .phones-wrapper img {
  position: absolute;
  top: -10em;
  left: 32.1em;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
  z-index: 1;
  height: auto;
}

.main-btn {
  width: 9em;
  margin-top: 2em;
}

.second-section {
  background-color: #f3f4f6;
  margin-top: -8em;
}

.second-section .second-heading {
  padding-top: 10em;
  margin-left: 9em;
  width: 38em;
}

.second-section .second-heading h2 {
  color: #2d314d;
  font-size: 2.2em;
  font-weight: 300;
}

.second-section .second-heading p {
  color: #9698a6;
  margin-top: 1.5em;
  line-height: 1.5em;
}

.features-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding-left: 9em;
  padding-right: 7em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #f3f4f6;
}

.features-wrapper .feature img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.features-wrapper .feature-title {
  margin-top: 1em;
  font-size: 1.5em;
  color: #2d314d;
}

.features-wrapper .feaure-description {
  margin-top: 1.5em;
  font-size: .9em;
  color: #9698a6;
  margin-right: 1.1em;
  line-height: 1.5em;
  font-weight: 500;
}

.articles-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 9em;
  margin-right: 8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.articles-wrapper .article {
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 1em;
}

.articles-wrapper img {
  height: 11em;
}

.articles-wrapper .author {
  font-weight: bold;
  color: #9698a6;
  font-size: 0.56em;
  margin-top: 2.3em;
  margin-left: 2em;
}

.articles-wrapper .article-title {
  color: #2d314d;
  margin-top: 0.8em;
  margin-left: 1em;
  font-weight: 500;
  font-size: 0.92em;
  margin-right: 1em;
}

.articles-wrapper .full-article {
  color: #9698a6;
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-left: 1.3em;
  margin-right: 1em;
  line-height: 1.5em;
}

.latest-article {
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #2d314d;
  font-size: 2.2em;
  font-weight: 500;
}

.footer-wrapper {
  background-color: #2d314d;
  height: 10.7em;
  margin-top: 5em;
}

.footer-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 9em;
  margin-right: 8em;
  padding-top: 2.6em;
}

.footer-wrapper .footer img {
  fill: white;
}

.footer-wrapper .logo-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (1fr)[2];
      grid-template-columns: 2fr repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 4em;
          column-gap: 4em;
}

.footer-wrapper .logo-section .actions-col-1,
.footer-wrapper .logo-section .actions-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .logo-section a,
.footer-wrapper .logo-section a:visited,
.footer-wrapper .logo-section a:link {
  color: white;
  font-size: 0.85em;
}

.footer-wrapper .logo-section .actions-col-2,
.footer-wrapper .logo-section .actions-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper .logo-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 3em;
}

.footer-wrapper .logo-wrapper .social-media-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1.5em)[5];
      grid-template-columns: repeat(5, 1.5em);
  gap: 0.4em;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .features-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-left: 2em;
    padding-right: 2em;
    gap: 2em;
  }
  .features-wrapper .feature {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .features-wrapper .feaure-description {
    margin-right: 0em;
    text-align: center;
  }
  .articles-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    row-gap: 2em;
    margin: 2em;
  }
  .articles-wrapper .article {
    margin: 0em;
  }
  .articles-wrapper .article img {
    width: 100%;
    height: auto;
  }
  .footer-wrapper {
    height: 27.7em;
  }
  .footer-wrapper .logo-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 1em;
  }
  .footer-wrapper .logo-wrapper {
    place-items: center;
  }
  .footer-wrapper .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0em 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-wrapper .actions-col-1,
  .footer-wrapper .actions-col-2 {
    text-align: center;
  }
  .footer-wrapper .request-btn {
    width: auto;
    margin: 1em 5em;
  }
  .second-section {
    margin: 0em;
    padding-top: 1em;
  }
  .second-section .second-heading {
    padding-top: 1em;
    margin: 0em 0em;
    width: 100%;
  }
  .second-section p,
  .second-section h2 {
    text-align: center;
    margin: 0em 2em;
  }
  .navbar-wrapper {
    margin: 0em;
    padding: 0em 2em;
  }
  .navbar-wrapper .navigation-menu,
  .navbar-wrapper .nav-btn {
    display: none;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1em;
  }
  .action-wrapper {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    z-index: 5;
    left: 1.5em;
    right: 1.5em;
    -webkit-box-shadow: 0 0 14px 3px #9698a6;
            box-shadow: 0 0 14px 3px #9698a6;
  }
  .action-wrapper p {
    text-align: center;
    padding: 1em;
  }
  .open {
    display: -ms-grid;
    display: grid;
  }
  .main-wrapper {
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: 0em -6em;
    background-size: 23em 29em;
    background-repeat: no-repeat, no-repeat;
    z-index: 1;
    padding-top: 23em;
    margin: 0;
  }
  .main-wrapper .heading h1 {
    margin: 0;
    width: 350px;
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
  }
  .main-wrapper .heading p {
    width: 375px;
    text-align: center;
  }
  .main-wrapper .request-btn {
    width: 10em;
    margin-left: 7em;
  }
  .main-wrapper .phones-wrapper img {
    -webkit-transform: scale(0.46);
            transform: scale(0.46);
    top: -23.8em;
    left: -12.2em;
  }
}
/*# sourceMappingURL=styles.css.map */